@tailwind base;
@tailwind components;
@tailwind utilities;

.scrl {
  padding-right: 5px;
  overflow-y: auto;
  overflow-x: none;
  scrollbar-width: thin;
}
.duration-1000 {
  transition-duration: 1000ms;
}
.ease-linear {
  transition-timing-function: linear;
}
.delay-1000 {
  transition-delay: 1s;
}
.transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.scrl-left {
  overflow-y: auto;
  overflow-x: none;
  scrollbar-width: thin;
}
.scrl-cat {
  overflow-y: auto;
  overflow-x: none;
  scrollbar-width: thin;
}
.scroll-mt-4 {
  scroll-margin-top: 1rem;
}
/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #e2e8f0;
}
